:root {
    color: #213547;
    background-color: #000000;
}

/* Required for abnormal style sheets (QtWebEngine looking at you) */
* {
    margin: 0;
    padding: 0;
}

.condensed {
    font-stretch: condensed;
}

@font-face {
    font-family: "Magistral";
    src: url("/site/magistral-wide.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProRacingSlant";
    src: url("/site/pro-racing-slant-narrow.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ProRacing";
    src: url("/site/pro-racing-narrow.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SevenSegment";
    src: url("/dashboard/seven-segment.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
